*{
    font-family: 'Work Sans';
}

nav{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
span{
    color: rgb(252, 28, 196);
}
.nav-p1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav-p2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.icon{
    width: 50px;
}
.icon-n{
    width: 30px;
} 
h1{
color: rgb(195, 82, 203);
font-size: 50px;
margin-top: 0;
margin-bottom: 0;
}
.nav-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
a{
    text-decoration: none;
}
header{
    height: 400px;
    background-image: url(images/Group\ 14.png);
    background-size: auto;
    background-position-x: -200px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}
.header-icon{
    width: 20px;
}
.header-options{
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn-1{
    width: 90px;
    height: 40px;
    background-color: rgb(252, 28, 196);
    border: 1px solid;
    border-radius: 20px;
}
.btn-2{
    width: 110px;
    height: 40px;
    background-color: rgb(79, 216, 250);
    border: 1px solid;
    border-radius: 20px;
}
.btn-3{
    width: 110px;
    height: 40px;
    background-color: rgb(252, 28, 196);
    border: 1px solid;
    border-radius: 20px;
}
.head-contents{
    padding-top: 40px;
    padding-left: 100px;
}
.head-img{
    width: 400px;
    padding-right: 100px;
}
.gamer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.gamer-title{
    color: rgb(195, 82, 203);
    
}
.gamer-img{
    padding-left: 100px;
}
.gamer-description{
    padding-right: 100px;
    width: 300px;
    text-align: right;
}
h4{
    line-height: 0;
}
h5{
    line-height: 0;
}
.funny-videos{
    margin-left: 100px;
    margin-right: 100px;
}
.funny-header{
    display: grid;
    justify-content: center;
}
.funny-title{
    margin-left: 30px;
    line-height: 5px;
}

.funny-cards{
    display: flex;
    justify-content: space-between;
}
.funny-card{
    width: 250px;

}
.funny-card:hover .watch-now{
    width: 250px;
    height: 280px;
    display: flex;
    border: 2px solid rgb(252, 28, 196);
}

.funny-img{
    width: 250px;
}
.watch-now{
    color: rgb(252, 28, 196);
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -180px;
}
.image-position{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}
.positioning{
    width: 200px;
    height: 200px;
    padding-left: 200px;
    padding-top: 200px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.position-title{
    color: rgb(195, 82, 203);
}
.positioning-1{
    width: 500px;
}
.positioning-2{
    width: 150px;
    border: 2px solid white;
    border-radius: 5px;
    position: relative;
    bottom: -50px;
    right: -100px;
}
.careers{
    margin-top: 100px;
    background-color: rgb(252, 72, 219);
    
}
.career-elements{
    display: flex;
    margin-left: 100px;
    
}
.career-description{
    margin-top: 60px;
    color: white;
    
}
.career-groups{
    display: flex;
}

.career-topics{
    width: 200px;
    height: 200px;
    text-align: left;
    line-height: 40px;
}
.career-zone{
    width: 200px;
    height: 200px;
    text-align: right;
    line-height: 40px;
    margin-left: 90px;
}
.career-btn{
    color: rgb(248, 66, 224);
    width: 150px;
    height: 40px;
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
}
.career-img{
    width: 700px;
}
.types-of-game{
    display: grid;
    margin-bottom: 70px;
    margin-top: 70px;
}
.games-row1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}
.games-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
