*{
    font-family: 'Work Sans';
}

nav{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
span{
    color: rgb(252, 28, 196);
}
.nav-p1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav-p2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.icon{
    width: 50px;
}
.icon-n{
    width: 30px;
} 
h1{
color: rgb(195, 82, 203);
font-size: 50px;
margin-top: 0;
margin-bottom: 0;
}
.nav-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
a{
    text-decoration: none;
}
header{
    height: 400px;
    background-image: url(images/Group\ 14.png);
    background-size: auto;
    background-position-x: -200px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}
.header-icon{
    width: 20px;
}
.header-options{
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn-1{
    width: 90px;
    height: 40px;
    background-color: rgb(252, 28, 196);
    border: 1px solid;
    border-radius: 20px;
}
.btn-2{
    width: 110px;
    height: 40px;
    background-color: rgb(79, 216, 250);
    border: 1px solid;
    border-radius: 20px;
}
.btn-3{
    width: 110px;
    height: 40px;
    background-color: rgb(252, 28, 196);
    border: 1px solid;
    border-radius: 20px;
}
.head-contents{
    padding-top: 40px;
    padding-left: 100px;
}
.head-img{
    width: 400px;
    padding-right: 100px;
}
.gamer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.gamer-title{
    color: rgb(195, 82, 203);
    
}
.gamer-img{
    padding-left: 100px;
}
.gamer-description{
    padding-right: 100px;
    width: 300px;
    text-align: right;
}
h4{
    line-height: 0;
}
h5{
    line-height: 0;
}
.funny-videos{
    margin-left: 100px;
    margin-right: 100px;
}
.funny-header{
    display: grid;
    justify-content: center;
}
.funny-title{
    margin-left: 30px;
    line-height: 5px;
}

.funny-cards{
    display: flex;
    justify-content: space-between;
}
.funny-card{
    width: 250px;

}
.funny-card:hover .watch-now{
    display: flex;
}

.funny-img{
    width: 250px;
}
.watch-now{
    color: rgb(252, 28, 196);
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -180px;
}
